@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h4> Dê um clique para acessar meu LinkedIn: <a href="https://www.linkedin.com/in/eduardo-silva-dos-reis-207a0a145/">LinkedId</a></h4>
<h4> Dê um clique para acessar meu Github: <a href="https://github.com/EduSilvaReis">Github</a></h4>
<p>Email: @ViewData["email"]</p>
